.tooltip {
    position: relative;
    display: inline-block;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--blue);
    color: var(--text);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    font-size:1em;
    width: 7em;
    bottom: 120%;
    left: 50%;
    margin-left: -3.5em; 
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    display:inline-block;
}

.img-container{
    margin:0 0.5em;
    width:auto;
    height:2em;
}