.work-card-grid{
    display:grid;
    grid-template-columns: 50% 50%;

}

.work-card-margin{
    width:60%;
    color:var(--text);
}

.company-info{
    display:block;
    margin-bottom:10px;
}

.date-info{
    margin-left: auto; 
    margin-right: 0;
    text-align:right;
    width: 100%;
}

.achievement-list{
    list-style-type:disc;
    margin-top:0;
    padding-left: 1.5em;

}

.achievement-list-item{
    display: list-item;
    padding-left:0.5em;
}




@media only screen and (max-width: 1050px){
    .work-card-grid{
        display:block;
    }

    .work-card-margin{
        width:100%;
    }
}
